.not-authorized-content {
    min-height: calc(100vh - 8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    mat-icon {
        font-size: 48px;
        width: 48px;
        height: 48px;
    }
}
